// Colors
$COLOR_BLUE: #5FBBC3;
$COLOR_PINK: #F25F74;
$COLOR_ORANGE: #F2AC5F;
$COLOR_BLACK_LIGHT: #575656;
$COLOR_GREY: #C9C9C9;

$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #000000;

// Typography
$FONT_FAMILY: 'Gotham SSm A', sans-serif;
$FONT_SIZE_BASE: 14px;
$FONT_WEIGHT_BOOK: 400;
$FONT_WEIGHT_BOLD: 700;
$LINE_HEIGHT_BASE: 1;

// Media queries
$SM_MIN_WIDTH: 425px;
$MD_MIN_WIDTH: 768px;
$LG_MIN_WIDTH: 992px;
$XLG_MIN_WIDTH: 1200px;
